:root {
  --azul-escuro: #012a49;
  --azul-claro: #76dfff;
  --azul-mediano: #3495c8;
  --mostarda: #ffbf00;
  --branco: #fffffd;
}

body {
  display: flex;
  margin: 0;
  height: 100vh; /* Ajusta a altura para ocupar a tela inteira */
}

#filter-panel {
  height: 100%;
  width: 25%; /* Largura do painel de filtros */
  background-color: var(--azul-escuro); /* Cor de fundo do painel */
  padding: 20px; /* Espaçamento interno aumentado */
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
  color: var(--branco); /* Cor do texto */
  font-family: Arial, sans-serif; /* Fonte do texto */
}

#map {
  height: 100%;
  width: 75%; /* Ajuste a largura do mapa */
}

h2 {
  color: var(--mostarda); /* Cor do título */
  margin-bottom: 15px; /* Margem inferior para separar dos filtros */
}

label {
  display: block;
  margin-bottom: 8px; /* Margem inferior para separar os labels */
}

input[type="text"],
input[type="number"] {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 15px;
  border: 1px solid var(--azul-claro);
  border-radius: 4px;
}

select {
  width: 94%;
  padding: 0.5rem;
  margin-bottom: 15px;
  border: 1px solid var(--azul-claro);
  border-radius: 4px;
}

button {
  width: 80%;
  padding: 10px;
  background-color: var(--azul-mediano);
  color: var(--branco);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--azul-claro);
}

.input-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.input-wrapper {
  width: 50%;
}

.input-wrapper label {
  margin: 5px 0px 5px 0px;
}

.input-wrapper select {
  width: 90%;
}

.input-wrapper input {
  width: 81%;
}

.leaflet-popup-content-wrapper {
  background-color: var(--azul-escuro);
  color: var(--branco);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 15px;
}

.leaflet-popup-tip-container {
  display: none;
}

.leaflet-popup-content {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.popup-header {
  font-weight: bold;
  color: var(--mostarda);
  margin-bottom: 10px;
}

.popup-content {
  margin-bottom: 10px;
}

.popup-content b {
  color: var(--azul-claro);
}

.popup-footer {
  text-align: right;
  font-size: 12px;
  color: var(--azul-claro);
}
